:root {
  --main-background-color: white;
  --main-text-color: black;
  --main-header-color: #555;
}

.dark {
  --main-background-color: #222;
  --main-text-color: white;
  --main-header-color: #bbb;
}

#page-content {
  background: var(--main-background-color);
  color: var(--main-text-color);
  min-height: 100vh;
  padding: 5px 50px;
}

@media (max-width: 400px) {
  #page-content {
    padding: 5px 10px;
  }
}

header {
  display: flex;
  
  > div {
    font-size: 3em;
    margin: 0.67em auto;
    color: var(--main-header-color);
  }
}

main {
  display: flex;
  flex-direction: column;

  > div {
    margin: 0 auto 0.5em auto;
  }
}

.title {
  font-size: 1.5em;
}
