#page-content {
  height: 100vh;
  padding: 5px 50px;
}

header {
  display: flex;
  
  > div {
    font-size: 3em;
    margin: 0.67em auto;
    color: #555;
  }
}

.title {
  font-size: 1.5em;
  margin: 0.5em;
}

.dark {
  &#page-content {  
    background-color: #222;
    color: white;
  }
  
  header > div {
    color: #bbb;
  }
}
