.item {
  display: flex;
  max-width: 500px;
  margin-bottom: 10px;
  border: 5px solid #99a;
  border-radius: 8px;
  background-color: #dde;
}

.item .app-link {
  margin: auto 0 auto 10px;
  font-size: 1.2em;
  color: #333;
}

.item .app-link:visited {
  color: #777;
}

.item .repo-link {
  margin: 5px 10px 5px auto;
  height: 40px;
}

.item .repo-link img {
  height: 40px;
}
