#root {
  --item-background-color: #dde;
  --item-border-color: #99a;
  --item-link-color: #333;
  --item-visited-link-color: #777;
}

.dark #root {
  --item-background-color: #223;
  --item-border-color: #667;
  --item-link-color: #eee;
  --item-visited-link-color: #bbb;
}

.row {
  display: flex;
  align-items: center;
  max-width: 600px;
  min-height: 50px;
  background-color: var(--item-background-color);
  border: 5px solid;
  border-color: var(--item-border-color);
  border-radius: 8px;

  > .link {
    margin-left: 10px;
    font-size: 1.2em;
    color: var(--item-link-color);

    &:visited {
      color: var(--item-visited-link-color);
    }
  }
}
