.project-item {
  max-width: 500px;
  margin-bottom: 10px;
  
  > .row {
    display: flex;
    min-height: 50px;
    border: 5px solid;
    border-color: #99a;
    background-color: #dde;
    transition: border-radius 0.4s ease-in-out;
    
    .app-link {
      margin: auto 0 auto 10px;
      font-size: 1.2em;
      color: #333;

      &:visited {
        color: #777;
      }
    }

    .space {
      margin-left: auto;
    }
    
    .repo-link {
      margin: 6px 10px 5px 10px;
      
      img {
        height: 40px;
      }
    }
    
    .expander {
      width: 25px;
      cursor: pointer;
    
      &::after {
        content: '';
        display: inline-block;
        margin-left: 5px;
        padding: 3px;
        width: 0.1px;
        border: solid;
        border-color: black;
        border-width: 0 3px 3px 0;
      }
    }
  }

  > .expandable-section {
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;

    > .description {
      padding: 8px;
      background-color: #e5e5f5;
      border: solid;
      border-color: #99a;
      border-width: 0 2px 2px 2px;
    }
  }

  &.collapsed {
    > .row {
      border-radius: 8px;

      .expander::after {
        margin-top: 18px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    > .expandable-section {
      max-height: 0;
    }
  }

  &.expanded {
    > .row {
      border-radius: 8px 8px 0 0;

      .expander::after {
        margin-top: 22px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }

    > .expandable-section {
      max-height: 100px;
    }
  }
}

.dark .project-item {
  > .row {
    border-color: #667;
    background-color: #223;

    .app-link {
      color: #eee;

      &:visited {
        color: #bbb;
      }
    }

    .expander::after {
      border-color: white;
    }
  }

  > .expandable-section > .description {
    background-color: #113;
    border-color: #667;
    color: #eee;
  }
}
